
$blue: #C2DFEB;
$primary: #CBC5B7;
$secondary: #F3F3F3;
$success: #E0F0DB;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;
$font-family-sans-serif: 'Nunito', sans-serif;;
$border-radius: .5rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 0.75;