.container_kastid {
    padding-top: 54px;
    margin-right: 80px;
    margin-left: 80px;
}

.img-front {
    border-radius: 0.5rem;
    width: 300px;
    max-height: 200px;
    background-size: cover
}

.reset-style {
    all: revert;
}

.bg-img {
    /* Front page background picture */
    background-image: url("avalehe_pilt.jpg");

    min-height: 696px;
    /* Center and scale the image nicely */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

img {
    border-radius: 0.5rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  .bg-img-smaller{
    color: #CBC5B7;
  }

  .bg-img-footer{
  background-color: #464239;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  }

  .google-map{
    height: 100%;
    width: 100%;
  }